In [1]:
import os
import numpy as np
import pandas as pd # alias
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/processed/bookings_Outliers_Handled.csv')
df.head()

,booking_id,citizen_id,booking_date,appointment_date,appointment_time,task_id,num_documents,queue_number,satisfaction_rating,total_task_time_minutes,duration_minutes,duration_log
0,f7b59ba3793fea61282cb02be2247cebd0a75306,4229044420,2021-01-01,2021-01-01,09:03,TASK-002,0,2,4,834.569483,37,3.637586
1,cfe30d53b4b645e4cb6b114f6c9d74a0f25e6a80,5389442635,2021-01-01,2021-01-01,09:12,TASK-001,1,1,4,834.569483,60,4.110874
2,0fb0a5d9b3944dd743a9e7828dc03fa74aa6ebf8,2123783919,2021-01-01,2021-01-01,09:36,TASK-002,1,6,5,834.569483,57,4.060443
3,d4bf826153212fa325ad98b215668ab942365607,6359918966,2021-01-01,2021-01-01,09:45,TASK-001,1,4,4,834.569483,53,3.988984
4,ebb4c9687acbaf65376d8e379bd1341d1c15127e,178732202,2021-01-01,2021-01-01,10:12,TASK-002,1,8,3,834.569483,88,4.488636

In [3]:
df.drop(columns=["booking_id","citizen_id"], inplace=True)
df.head()

,booking_date,appointment_date,appointment_time,task_id,num_documents,queue_number,satisfaction_rating,total_task_time_minutes,duration_minutes,duration_log
0,2021-01-01,2021-01-01,09:03,TASK-002,0,2,4,834.569483,37,3.637586
1,2021-01-01,2021-01-01,09:12,TASK-001,1,1,4,834.569483,60,4.110874
2,2021-01-01,2021-01-01,09:36,TASK-002,1,6,5,834.569483,57,4.060443
3,2021-01-01,2021-01-01,09:45,TASK-001,1,4,4,834.569483,53,3.988984
4,2021-01-01,2021-01-01,10:12,TASK-002,1,8,3,834.569483,88,4.488636

In [4]:
df.to_csv('data/processed/bookings_Binnings_Handled.csv', index=False)
df.head()

,booking_date,appointment_date,appointment_time,task_id,num_documents,queue_number,satisfaction_rating,total_task_time_minutes,duration_minutes,duration_log
0,2021-01-01,2021-01-01,09:03,TASK-002,0,2,4,834.569483,37,3.637586
1,2021-01-01,2021-01-01,09:12,TASK-001,1,1,4,834.569483,60,4.110874
2,2021-01-01,2021-01-01,09:36,TASK-002,1,6,5,834.569483,57,4.060443
3,2021-01-01,2021-01-01,09:45,TASK-001,1,4,4,834.569483,53,3.988984
4,2021-01-01,2021-01-01,10:12,TASK-002,1,8,3,834.569483,88,4.488636